<div id="parent" class="dialog-container container-dark" *ngIf="visible">
  <div class="container">
    <h5 class="dialog-title">Create Project</h5>
    <!--    <div class="tabs">-->
    <!--    </div>-->
    <!-- Progress Bar -->
    <div class="progress-bar-container">
      <div class="progress-step" [class.active]="currentStep >= 1">
        <div class="circle" [class.active]="currentStep === 1 || currentStep === 2 || currentStep === 3">1</div>
        <p>Project Details</p>
      </div>
      <div class="line" [class.active]="currentStep > 1"></div>
      <div class="progress-step" [class.active]="currentStep >= 2">
        <div class="circle" [class.active]="currentStep === 2 || currentStep === 3 ">2</div>
        <p>Labeling Setup</p>
      </div>
      <div class="line" [class.active]="currentStep > 2"></div>
      <div class="progress-step" [class.active]="currentStep >= 3">
        <div class="circle" [class.active]="currentStep === 3">3</div>
        <p>Get Started</p>
      </div>
    </div>
    <div class="step-content">
      <!--Create Project-->
      <app-create-project-setup #createProjectSetup [visible]="currentStep === 1"></app-create-project-setup>
      <!--Project Setup-->
      <app-labeling-setup #labelingSetup [visible]="currentStep === 2"></app-labeling-setup>
      <!--Upload Images Setup-->
      <app-upload-images-setup #uploadImagesSetup [visible]="currentStep === 3"></app-upload-images-setup>
    </div>

    <div class="form-buttons">
      <button class="btn btn-danger delete-button" (click)="hideDialog()">Cancel</button>
      <div class="navigation-buttons">
        <button class="btn btn-success save-button" *ngIf="currentStep !== 1"
          (click)="currentStep = currentStep - 1">Back</button>
        <button class="btn btn-success save-button"
          [disabled]="currentStep === 1 && !createProjectSetup.isValid"
          (click)="currentStep !== maxSteps? currentStep = currentStep + 1:
              createProject(createProjectSetup.createProjectVm, labelingSetup.projectSetupVm)">
          {{currentStep !== maxSteps ? 'Next' : 'Create Project' }}
        </button>
      </div>
    </div>
  </div>
</div>
