#controls{
  display: flex;
  justify-content: space-between;
}

.control-button{
  display: flex;
  /*width: 70px;*/
  height: 40px;
  border-radius: 4px;
  border: 1px solid gray;
}

.control-button > span{
  /*min-width: ;*/
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.control-button img{
  width: 20px;
  height: 20px;
}
