<div id="parent">
  <!--Controls-->
  <div id="controls">
    <!--Left Controls-->
    <div>
      <!--Sort By-->
      <div class="control-button">
        <span>ID</span><span><img src="assets/images/svgs/sort-amount-down-svgrepo-com.svg"></span>
      </div>
    </div>
    <!--Right Controls-->
    <div>
      <button>Refresh</button>
      <button (click)="importDataDialog.showDialog()">Import</button>
      <button (click)="exportDataProgressDialog.showDialog()">Export</button>
    </div>
  </div>
  <app-image-data-table [projectId]="projectId" [imageInfoVms]="imageInfoVms">
  </app-image-data-table>
  <!-- Dialogs -->
  <div>
    <app-import-data-dialog [projectId]="projectId" #importDataDialog></app-import-data-dialog>
    <app-export-data-progress-dialog #exportDataProgressDialog [projectId]="projectId"
                                     [objectClasses]="objectClasses">
    </app-export-data-progress-dialog>
  </div>
</div>
