

<div id="parent" *ngIf="visible">
  <h3>Labeling Setup</h3>
  <div class="form-group-labeling">
    <div class="input-section">
      <label for="className">Class Name</label>
      <input
        #className
        id="className"
        type="text"
        class="form-control"
        placeholder="Class name"
      />
      <label for="classDescription">Class Description</label>
      <textarea
        #description
        id="classDescription"
        class="form-control"
        placeholder="Class description"
      ></textarea>
    </div>

    


   
    <div class="added-classes-inline" id="added-classes">
      <div
        *ngFor="let objectClassVm of projectSetupVm.objectClasses"
        [style.background-color]="objectClassVm.color"
        class="class-badge"
      >
        <app-added-object-class
          [objectClassVm]="objectClassVm"
          (remove)="removeLabel(objectClassVm)"
          (click)="selectClassForColorChange(objectClassVm)"
        ></app-added-object-class>
      </div>

    </div>

  </div>
  <button
  type="button"
  class=" btn-primary btn-add"
  (click)="addLabel(className.value, description.value); className.value = ''; description.value = '';"
>
  Add Class
</button>
  <div *ngIf="selectedClass">
    <label>Change Color for: {{ selectedClass.className}}</label>
    <input type="color" (change)="handleColorChange($event)" [value]="selectedClass.color"/>
  </div>
</div>











<!-- 
<div id="parent" *ngIf="visible">

  <h3>Labeling Setup</h3>
    <div class="form-group-labeling">
      <input #className  id="projectName" type="text" placeholder="Class name"/>
      <textarea #description placeholder="Description"></textarea>
      <button (click)="addLabel(className.value, description.value) ;className.value = ''; description.value = '';">Add</button>
    </div>
    <div id="added-classes">
     <app-added-object-class></app-added-object-class>
      <div *ngFor="let objectClassVm of projectSetupVm.objectClasses">
        <app-added-object-class [objectClassVm]="objectClassVm"
        (remove)="removeLabel(objectClassVm)">
        </app-added-object-class>
      </div>
    </div>
  </div> -->
