.dialog-container {
  position: fixed;
  inset: 0;
  z-index: 1000;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-dark{
  background-color: rgba(0, 0, 0, 0.5);
}


.standard-dialog{
  width: 500px;
  height: 300px;
  padding: 20px; /* Padding around the content */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for 3D effect */
  border-radius: 8px; /* Rounded corners */
  background-color: white; /* White background for the dialog */
}
