<div id="parent">
  <span id="name">{{fileUploadVm.file.name}}</span>
  <span id="file-type">{{fileUploadVm.file.type.split('/')[1]}}</span>
  <div>
    <div id="progress" class="spinner" *ngIf="fileUploadVm.uploadState === UploadState.UPLOADING"></div>
    <img id="check-svg" src="assets/images/svgs/check-svgrepo-com.svg"
         *ngIf="fileUploadVm.uploadState === UploadState.UPLOADED" alt="check">
    <div id="retry-button" *ngIf="fileUploadVm.uploadState === UploadState.FAILED">Retry</div>
  </div>
</div>
