<button type="button" class="export-data-type" [disabled]="disabled" (click)="selected.emit()">
  <span class="export-data-copy">
    <span class="export-type">
      {{typeText}}
    </span>
    <span class="export-description">
      {{typeDescription}}
    </span>
  </span>
  <span class="export-action" aria-hidden="true">
    <span *ngIf="disabled" class="coming-soon">Coming soon</span>
    <svg *ngIf="!disabled" viewBox="0 0 24 24">
      <path d="M12 3v11m0 0 4-4m-4 4-4-4M5 21h14"></path>
    </svg>
  </span>
</button>
