<div id="parent" #parent (wheel)="onWheel($event)">
  <!--Canvas to show the image-->
  <canvas #imgCanvas></canvas>
  <!--Canvas to show and control the polygons-->
  <canvas id="canvas" #polygonCanvas
          [class.panning]="isPanning"
          (pointerdown)="onPointerDown($event)"
          (pointermove)="onPointerMove($event)"
          (pointerup)="onPointerUp($event)"
          (pointercancel)="onPointerCancel($event)"
          (lostpointercapture)="onPointerCancel($event)">
  </canvas>
</div>
