<div class="parent-container">
  <div>
    <div class="searchbar">
      <!--      <input #searchInput id="search_input" type="text" name=""-->
      <!--             placeholder="Search Devices">-->
      <!--        (input)="onSearchDevice($any($event.target).value)"-->
      <!--      <div><img id="search-img" src="assets/img/search_dark.png"></div>-->
    </div>
  </div>
  <div class="table-container">
    <div class="table100">
      <table>
        <thead>
        <tr class="table100-head">
          <th class="column1">
            <span><input #mainChkBox type="checkbox"></span>
          </th>
          <th class="column2">Image</th>
          <th class="column3">Date Added</th>
          <th class="column3">Last Modified</th>
          <th class="column3">Polygons</th>
          <th class="column3">Annotated</th>
          <th class="column3">File name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let imageInfo of imageInfoVms"
            (click)="navService.gotoAnnotateImagesAsync(projectId ,imageInfo.imageId)">
          <!--Selection Checkbox-->
          <td class="column1">
            <div>
              <span><input type="checkbox" [checked]="mainChkBox.checked"></span>
            </div>
          </td>
          <!--Image-->
          <td class="column2">
            <img id="thumbnail" [src]="imageInfo.imageUrl">
          </td>
          <!--Date Added-->
          <td class="column3">
            {{ imageInfo.dateAdded | date: 'yyyy-MM-dd hh:mm' }}
          </td>
          <!--Last Modified-->
          <td class="column3">
            {{ imageInfo.dateAdded | date: 'yyyy-MM-dd hh:mm' }}
          </td>
          <!--Polygons-->
          <td class="column3">
            {{ imageInfo.polygonVms ? '' : 'empty' }}
          </td>
          <!--Annotated-->
          <td class="column3">
            {{ imageInfo.polygonVms ? '' : 'empty' }}
          </td>
          <!--File name-->
          <td class="column4">
            <span>{{ imageInfo.originalFileName }}</span>
          </td>
          <!--FileName-->
          <td class="column5">
            <button id="remove-button" title="View Permissions">Remove</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


