<mat-horizontal-stepper [linear]="true" #stepper>

    <mat-step [stepControl]="personalInfoFormGroup">
      <form [formGroup]="personalInfoFormGroup">
        <ng-template matStepLabel>Personal Info</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Are you an individual or a business?</mat-label>
          <mat-select formControlName="type">
            <mat-option value="individual">Individual</mat-option>
            <mat-option value="business">Business</mat-option>
          </mat-select>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  

    <mat-step [stepControl]="usageInfoFormGroup">
      <form [formGroup]="usageInfoFormGroup">
        <ng-template matStepLabel>Usage Info</ng-template>
       
        <mat-form-field appearance="fill">
          <mat-label>Enter your usage information</mat-label>
          <input matInput placeholder="Usage Info" formControlName="usage">
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
  

    <mat-step>
      <ng-template matStepLabel>Get Started</ng-template>
      <p>You're all set! Click finish to complete the process.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="onFinish()">Finish</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  


   <!-- <mat-horizontal-stepper>
    <mat-step label="Step 1">
   
    </mat-step>
    <mat-step label="Step 2">

    </mat-step>
  </mat-horizontal-stepper> -->
  <h1>jhfdsjlfjdas</h1>
  