<div class="stepper-container">
  <mat-horizontal-stepper [linear]="true">
    <mat-step [stepControl]="nameFormGroup">
      <form [formGroup]="nameFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>
        <mat-form-field class="stepper-input" appearance="outline">
          <mat-label>Last name, First name</mat-label>
          <input matInput formControlName="name" placeholder="Last name, First name">
        </mat-form-field>
        <div class="stepper-buttons">
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="addressFormGroup">
      <form [formGroup]="addressFormGroup">
        <ng-template matStepLabel>Fill out your address</ng-template>
        <mat-form-field class="stepper-input" appearance="outline">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" placeholder="Enter your address">
        </mat-form-field>
        <div class="stepper-buttons">
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You have completed all steps!</p>
      <div class="stepper-buttons">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="onComplete()">Complete</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
